/* Login Style */
.user-form{
    padding-top: 100px;
    background-image: url("../img/kancolle-eat.jpg");
    background-size: cover;
    height: 635px;
}

body{
    background-image: url('../img/kancolle-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home{
    margin-right: 1px;
}
.col-style{
    margin-right: 5px;
}

.sidebar{
    margin-top: 65px;
    width : 220px;
}
.sidebar img{
    margin-left: -20px;
    margin-top: -25px;
    position: relative;
    z-index: 1;
}